* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, #home, #cardapio, #sobre, #contato, #unidades {
    background-color: #f8f9fa;
}


/* Header */
header, #menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(206, 49, 49);
    padding: 10px 20px;
    width: 100%;
    font-size: large;
}

header {
    padding: 5px 10px;
    margin: 0;
    justify-content: space-between;
}

header img, #menu img {
    height: 50px;
}

#botao-header {
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

.imagem-botao {
    position: absolute;
    top: 18px;
    left: 5px;
    height: 20px;
    width: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav ul li {
    padding-inline: 10px;
    margin: 0 10px;
}

nav ul li a {
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    color: #e0cd00;
}

nav ul li a:focus {
    color: rgb(56, 0, 0);
}

#home .home,
#cardapio .cardapio,
#sobre .sobre,
#contato .contato,
#unidades .unidades {
    background-color: rgb(129, 0, 0);
    padding: 10px;
    border-radius: 10px;
}


/* Section Geral */
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


/* Caixinhas */
#divPizzas, #pizzasTradicionais, #pizzasDoces, #divUnidades, #pizza-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.div1, .div2 {
    margin: 5px;
}

.pizzasQ, .unidadesQ {
    padding: 5px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 100px;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 5px 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    cursor: pointer;
}

.pizzasQ {
    width: 20%;
    flex-direction: column;
}

.unidadesQ {
    width: 45%;
    flex-direction: row;
    justify-content: space-between;
}

.unidadesQ img {
    border-radius: 10px;
    height: 200px;
}

.pizzasQ:hover, .unidadesQ:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 7px 4px 4px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}

#VerMais img {
    width: 100%;
    height: 240px;
    border-radius: 10px;
}

.pizzasQ img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.pizzasQ h4 a, .unidadesQ h4 a {
    font-size: larger;
}


/* Div oculta */
#divPizzaAberta {
    position: fixed;
    top: 10vh;
    bottom: 30vh;
    align-self: center;
    width: 50%;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 10px;
    color: black;
    text-align: center;
    z-index: 3;
}

#divPizzaAberta img {
    max-width: 48vw;
    width: 40rem;
    height: 30rem;
    border-radius: 10px;
}

#desfoque {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* Home */
#home #section-contato ul li {
    font-size: larger;
}




/* Cardápio */
#cardapio h1{
    text-align: center;
    margin: 10px;
}

#cardapio section {
    min-height: 80vh;
}

.filtros {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.filtros label {
    margin-right: 10px;
}

.filtros input, .filtros select {
    padding: 8px;
    font-size: 14px;
}

#nomeCardapio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divFiltro {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;
    margin-inline: 5px;
}


/* Contato */
#contato section {
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    margin-bottom: 70px;
}

#contato #section-whatsapp h4 {
    width: fit-content;
    padding: 5px;
}

.divisao-contato {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#section-whatsapp #zap-unidades div {
    align-items: center;
    border: #18dc2b solid 2px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 20px;
    margin: 10px;;
}

.divisao-contato div {
    align-items: center;
    padding: 20px;
    margin: 10px;
}

#section-whatsapp h4 {
    color: #18dc2b;
}

#section-instagram h4 {
    background: linear-gradient(0deg, rgba(131, 58, 180) 0%, rgba(253, 29, 29) 50%, rgba(252, 176, 69, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section-facebook h4 {
    color: #273ecf;
}

#section-whatsapp a, #section-redes-sociais a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

#section-whatsapp a:hover, #section-redes-sociais a:hover {
    color: #0056b3;
}

#section-instagram, #section-facebook {
    margin: 10px 0;
}



/* Unidades */
.imagem-unidade {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
    height: 45rem;
}

.texto-unidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.local-unidade {
    width: 100%;
}

.local-unidade h3 {
    margin-top: 20px;
    color: #343a40;
}

iframe {
    width: 100%;
    border-radius: 10px;
}

.local-unidade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horario-unidade {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-self: center;
}

#unidades section {
    margin-inline: 5vw;
}



/* Ssobre */
#sobre section {
    font-size: larger;
}

#sobre #pizzaria {
    font-family: 'Jaini';
    color: #f4e330;
    font-size: 1.8rem;
    font-weight: bold;
    -webkit-text-stroke: black 0.2px;
}

.sobre-valores {
    font-weight: bold;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    background-color: rgb(70, 20, 20);
    padding-top: 20px;
    padding-inline: 5px;
    color: white;
    font-size: large;
    bottom: 0;
}



/* Responsividade */
@media (max-width: 1200px) {
    #index #section-unidades, #divUnidades {
        flex-direction: column;
    }
    .unidadesQ {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .unidadesQ img {
        width: 100%;
        height: auto;
    }
    .unidadesQ:hover {
        transform: scale(1.05);
    }
}

@media (max-width: 960px) {
    header nav ul li a, header nav div {
        display: flex;
        text-align: center;
        align-items: center;
    }

}

@media (max-width: 860px) {
    nav ul li {
        margin: 10px 0;
    }

    .pizzasQ {
        width: 40%;
    }

    #divPizzaAberta {
        position: fixed;
        top: 5rem;
        width: 70%;
        height: fit-content;
        align-items: center;
        flex-direction: column;
        padding: 5px;
        background-color: #f5f5f5;
        border-radius: 10px;
        color: black;
        text-align: center;
        z-index: 3;
    }

    #divPizzaAberta img {
        max-width: 90vw;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    

    iframe {
        width: 100%;
        height: 300px;
    }
    .imagem-unidade {
        height: 30rem;
    }
    #nomeCardapio {
        flex-direction: column;
    }
    .filtros {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #index #section-unidades, #divUnidades {
        flex-direction: column;
    }
    .unidadesQ {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .unidadesQ img {
        width: 100%;
        height: auto;
    }

    #botaoMenu {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        justify-content: space-around;
    }

    #menu {
        display: none;
        flex-direction: column;
    }

    #botao-header {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .divisao-contato {
        flex-direction: column;
    }

    #home .home,
    #cardapio .cardapio,
    #sobre .sobre,
    #contato .contato,
    #unidades .unidades {
        background-color: rgb(129, 0, 0);
        padding: 10px;
        padding-inline: 100%;
        border-radius: 10px;
    }
}

@media (max-width: 510px) {
    .pizzasQ {
        width: 90%;
    }

    footer {
        font-size: medium;
        bottom: 0;
    }
}

@media (max-width: 455px) {
    footer {
        font-size: small;
        bottom: 0;
    }
}

@media (max-width: 380px) {
    footer {
        font-size: x-small;
        bottom: 0;
    }
}

@media (max-width: 350px) {
    #contato .divisao-contato {
        flex-direction: column;
    }
}

@media (max-width: 240px) {
    #cardapio .divFiltro {
        width: calc(100% - 20px);
    }
    #cardapio select option {
        font-size: 12px;
    }

    .pizzasQ h4 {
        font-size: medium
    }
    footer {
        font-size: xx-small;
        bottom: 0;
    }
}


